*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

nav{
    background-color: cornflowerblue;
    height: 20%;
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    color: white;
    list-style: none;
   font-size: 20px;
   padding: 10px;
}

main{
    display: grid;
    height: 70vh;
    grid-template-areas: "section1 section1 aside"
                         "section1 section1 aside"
                         "section2 section2 aside";
                         gap: 10px;
}

.section1{
    grid-area: section1;
    background-color: tan;
}

.section2{
    grid-area: section2;
    background-color: teal;
}
aside{
    grid-area: aside;
    background-color: tomato;
}

footer{
    background-color: whitesmoke;
    height: 10vh;
}
/* tablet media queries */
@media screen and (min-width: 641px) and (max-width: 768px) {
    main{
    display: grid;
    height: 70vh;
    grid-template-areas: "section1 section1 section1"
                         "aside aside aside"
                         "section2 section2 section2";
                    
    }
}
nav{
    display: flex;
    justify-content: center;
}
